### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### IntelliJ-related files
*.iml
*.iws
*.ipr
/out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/artifacts/
.idea/dictionaries/
.idea/libraries/
.idea/runConfigurations/
.idea/shelf/
.idea/.name
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/mongoSettings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/scssLintPlugin.xml
.idea/sonarIssues.xml
.idea/kotlinc.xml
.idea/.gitignore
.idea/jarRepositories.xml

### Ignore all scratch files except HelloWorld.java
scratch/*
!scratch/pom.xml
!scratch/src/
scratch/src/*
!scratch/src/main/
scratch/src/main/*
!scratch/src/main/java/
scratch/src/main/java/*
!scratch/src/main/java/com/
scratch/src/main/java/com/*
!scratch/src/main/java/com/example/
scratch/src/main/java/com/example/*
!scratch/src/main/java/com/example/scratch/
scratch/src/main/java/com/example/scratch/*
!scratch/src/main/java/com/example/scratch/HelloWorld.java
